In [33]:
import pandas as pd
#import matplotlib.pyplot as plt
#from math import pi
#from ydata_profiling import ProfileReport 
#import logging
#from mplsoccer.pitch import Pitch

In [36]:
df = pd.read_csv('data/players_data_light-2024_2025.csv',index_col=0, parse_dates=True)
df

/tmp/ipykernel_1661/3205252940.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('data/players_data_light-2024_2025.csv',index_col=0, parse_dates=True)

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Att (GK),Thr,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,24.0,2000.0,3,1,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Max Aarons,eng ENG,"DF,MF",Valencia,es La Liga,24.0,2000.0,4,1,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21.0,2003.0,1,1,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,20.0,2004.0,6,0,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18.0,2006.0,1,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,Edhy Zuliani,fr FRA,DF,Toulouse,fr Ligue 1,19.0,2004.0,1,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2851,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,26.0,1997.0,5,0,106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,25.0,1998.0,30,26,2325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2853,Milan Đurić,ba BIH,FW,Monza,it Serie A,34.0,1990.0,18,13,1270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2854,Milan Đurić,ba BIH,FW,Parma,it Serie A,34.0,1990.0,9,3,268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Manipulação de dados(EDA)

In [37]:
df['Nation'] = df['Nation'].apply(lambda x: str(x).split()[-1])
df

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Att (GK),Thr,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Bournemouth,eng Premier League,24.0,2000.0,3,1,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Max Aarons,ENG,"DF,MF",Valencia,es La Liga,24.0,2000.0,4,1,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rodrigo Abajas,ESP,DF,Valencia,es La Liga,21.0,2003.0,1,1,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,James Abankwah,IRL,"DF,MF",Udinese,it Serie A,20.0,2004.0,6,0,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Keyliane Abdallah,FRA,FW,Marseille,fr Ligue 1,18.0,2006.0,1,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,Edhy Zuliani,FRA,DF,Toulouse,fr Ligue 1,19.0,2004.0,1,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2851,Szymon Żurkowski,POL,MF,Empoli,it Serie A,26.0,1997.0,5,0,106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,Martin Ødegaard,NOR,MF,Arsenal,eng Premier League,25.0,1998.0,30,26,2325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2853,Milan Đurić,BIH,FW,Monza,it Serie A,34.0,1990.0,18,13,1270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2854,Milan Đurić,BIH,FW,Parma,it Serie A,34.0,1990.0,9,3,268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Quantidade de jogadores por liga
print("\nJogadores por liga")
print(df['Comp'].value_counts())

#Quantidade de jogadores por posição
print("\nJogadores por posição")
print(df['Pos'].value_counts())

Jogadores por liga
Comp
it Serie A            634
es La Liga            601
eng Premier League    574
fr Ligue 1            553
de Bundesliga         492
Name: count, dtype: int64

Jogadores por posição
Pos
DF       859
MF       589
FW       371
FW,MF    325
MF,FW    230
GK       212
DF,MF    110
MF,DF     81
DF,FW     53
FW,DF     24
Name: count, dtype: int64

In [39]:
#Ajustando a principal posição dos jogadores
#Utilizando o método split para separar as posições por ',' e buscar a primeira posição do atleta, utilizando o apply para aplicar a função lambda em toda a coluna 
df['Pos'] = df['Pos'].apply(lambda x: x.split(',')[0])

print("\nJogadores por posição")
print(df['Pos'].value_counts())

Jogadores por posição
Pos
DF    1022
MF     900
FW     720
GK     212
Name: count, dtype: int64

In [40]:
#Informações básicas para seleção de atletas entre 20 e 26 anos com minutagem acima de 900 minutos e não seja goleiro
df_filtred = df[
    (df['Age'] < 24) &
    (df['Min']>= 900) &
    (df['Pos']!= 'GK')
]
df_filtred

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Att (GK),Thr,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
Rk,,,,,,,,,,,,,,,,,,,,,
11,Abel,ESP,DF,Osasuna,es La Liga,23.0,2000.0,35,20,2074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Matthis Abline,FRA,FW,Nantes,fr Ligue 1,21.0,2003.0,34,33,2768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Junior Adamu,AUT,FW,Freiburg,de Bundesliga,23.0,2001.0,25,19,1545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Karim Adeyemi,GER,FW,Dortmund,de Bundesliga,22.0,2002.0,25,17,1433,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Simon Adingra,CIV,FW,Brighton,eng Premier League,22.0,2002.0,29,12,1097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,Alessandro Zanoli,ITA,FW,Genoa,it Serie A,23.0,2000.0,31,19,1711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2824,Bryan Zaragoza,ESP,FW,Osasuna,es La Liga,23.0,2001.0,27,22,1836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2825,Anass Zaroury,MAR,FW,Lens,fr Ligue 1,23.0,2000.0,28,16,1405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2837,Nathan Zeze,FRA,DF,Nantes,fr Ligue 1,19.0,2005.0,18,17,1512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2842,Joshua Zirkzee,NED,FW,Manchester Utd,eng Premier League,23.0,2001.0,32,14,1402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Seleção das colunas importantes para cada posição

In [ ]:
df_filtred.isna().sum()
df_filtred = df_filtred.replace('NaN', '0')
df_filtred

In [ ]:
#Remoção da abreviação da nacionalidade
df_filtred.loc[:, 'Nation'] = df_filtred['Nation'].apply(lambda x: str(x).split(' ')[-1])
df_filtred

In [ ]:
profile = ProfileReport(df_2,title="Relatório de Perfil dos Jogadores")
profile.to_file("Relatório de Perfil dos Jogadores.html")

In [ ]:
profile = ProfileReport(
    df_2,
    minimal=True,  # Reduz carga computacional para 266 colunas
    title="Relatório de Perfil dos Jogadores",
    html={"inline": True}  # Embutir recursos no HTML (substitui html_assets)
) #html_assets=True ativa o modo offline da biblioteca 
profile.to_file("relatorio_ydata_profiling.html")

In [ ]:
# Seleção de colunas relevantes
selected_columns = [
    'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Min', '90s', 'Starts',
    'Cmp', 'Att', 'Cmp%', 'PrgP', '1/3', 'Tkl', 'TklW', 'Att 3rd', 'Int','PPA','KP',
    'PrgC', 'Att 3rd_stats_possession', 'Gls', 'Ast', 'xG', 'xAG'
]

In [ ]:
profile = ProfileReport(df, title='Relatório de Análise', minimal=True) #html_assets=True ativa o modo offline da biblioteca 
profile.to_file("relatorio_ydata_profiling.html")